:root {
    --primary-brand: #4D5AE5;
    /*iris*/
    --pressed-state: #404BBF;
    /*ocean*/
    --dark: #2E2F42;
    /*navy-blue*/
    --success: #31D0AA;
    /*green*/
    --text-color: #434455;
    /*slate*/
    --subtle-text-color: #8E8F99;
    /*light slate*/
    --accent-color: #E7E9FC;
    /*cornflower*/
    --light: #F4F4FD;
    /*cloud*/
    --modal-overlay: #2E2F42;
    /*navy blue modal*/
    --Hero-background: #2E2F42;
    /*grey*/
    --white-background: #FFFFFF;
    /*white*/
    --modal-background: #FCFCFC;
    /*dairy*/

    --main-font: 'Roboto',
        sans-serif;
    --accent-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font);
    color: var(--dark);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*----Header----*/
.header {
    background: var(--white-background);
    border-bottom: 1px solid var(--accent-color);
}

.header-logo {
    font-family: var(--main-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: var(--dark);
    text-transform: uppercase;
}

.header-logo-accent,
.footer-logo-accent {
    font-family: var(--accent-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}

.header-nav-list {
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--dark);
}

.header-nav-link {
    color: var(--dark);
}

.header-nav-link:active,
.header-address-mail:active {
    color: var(--pressed-state);
}

.header-address-mail,
.header-address-phone {
    color: var(--text-color);
    font-weight: 400;
    font-style: normal;
}

/*----Main section----*/
.main-section {
    background-color: var(--dark);
    width: 1440px;
    height: 600px;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--white-background);
}

.main-section-button {
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--white-background);
    width: 169px;
    height: 56px;
}

.main-section-button:hover {
    background: var(--pressed-state);
    cursor: pointer;
}

/* .main-section-button:active {} */

/*----Section principles----*/
.principles {
    background-color: var(--white-background);
    width: 1440px;
}

.principles-title {
    color: var(--white-background);
}

.principles-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.principles-text {
    font-weight: 400;
    color: var(--text-color);
}

/*----Products section----*/
.products {
    background-color: var(--white-background);
    width: 1440px;
}

.products-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

/*----Our team section----*/
.team-section {
    background-color: var(--light);
    width: 1440px;
}

.team-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.team-list-item {
    background: var(--white-background);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    height: 380px;
}

.employee-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.position {
    text-align: center;
    color: var(--text-color);
}

/*----Footer----*/
.footer {
    background-color: var(--dark);
}

.footer-link {
    font-family: var(--main-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: var(--light);
    text-transform: uppercase;
}

.footer-text {
    color: var(--light);
}